<launch>
  <include file="$(find kinova_bringup)/launch/kinova_robot.launch"/>
  <node name="rupee_app" pkg="rupee_app" type="rupee_app" output="screen" />
  <node name="handler" pkg="handler" type="handler" />
  <node name="realsense_zr300" pkg="realsense_zr300_node" type="realsense_zr300_node" />
  <node name="rupee_controller" pkg="rupee_controller" type="rupee_controller.py" />
</launch>
